name: Deploy vault in DigitalOcean

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      ca_pub_fingerprint:
        description: fingerprint of CA signed user cert
        required: false

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      CTX_DIGITALOCEAN_DROPLET_PROXY_TOKEN: ${{ secrets.CTX_DIGITALOCEAN_DROPLET_PROXY_TOKEN }}
      CTX_DIGITALOCEAN_FIREWALL: ${{ secrets.CTX_DIGITALOCEAN_FIREWALL }}
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to DO
        run: |
          git clone https://github.com/ackersonde/digitaloceans.git
          cd digitaloceans
          go get -t -d -v ./...
          go build do.go
          cd ../

          public_ip_address=$(curl -s https://checkip.amazonaws.com)
          ./digitaloceans/do -fn=firewallSSH -allow=true -ip=$public_ip_address -tag=traefik

          mkdir ~/.ssh
          cat <<EOF >~/.ssh/id_rsa
          ${{ secrets.CTX_DIGITALOCEAN_SSH_PRIVKEY }}
          EOF
          chmod 400 ~/.ssh/id_rsa

          do_vol_mount=/dev/disk/by-id/scsi-0DO_Volume_vault-data
          mount_cmd="$(cat <<-EOF
            if ! mountpoint /mnt/vault_data ; then
              mkdir -p /mnt/vault_data/config
              mount -o discard,defaults $do_vol_mount /mnt/vault_data
              echo $do_vol_mount /mnt/vault_data ext4 defaults,nofail,discard 0 0 | sudo tee -a /etc/fstab
            fi
          EOF
          )"

          scp -o StrictHostKeyChecking=no vault_config.json root@ackerson.de:/mnt/vault_data/config/local.json
          ssh -o StrictHostKeyChecking=no root@ackerson.de "$mount_cmd && \
            docker exec -d -e VAULT_TOKEN=${VAULT_TOKEN} vault vault operator seal || true && \
            docker rm -f vault || true && \
            docker run -d --cap-add=IPC_LOCK --restart=always \
              -v /mnt/vault_data:/vault \
              -e VAULT_API_ADDR=http://127.0.0.1:8200 \
              -e VAULT_ADDR=http://127.0.0.1:8200 \
              --label='traefik.enable=true' \
              --label='traefik.http.routers.vault.middlewares=secHeaders@file,api_auth' \
              --label='traefik.http.routers.vault.tls.certResolver=letsencrypt' \
              --label='traefik.http.routers.vault.tls.domains=vault.ackerson.de' \
              --label='traefik.http.routers.vault.rule=Host(\`vault.ackerson.de\`)' \
              --name vault vault:1.9.0 server"

          rm -Rf ~/.ssh ~/.docker/config.json
          ./digitaloceans/do -fn=firewallSSH -allow=false -ip=$public_ip_address

          curl -s -o /dev/null -X POST -d token=${{ secrets.CTX_SLACK_NOTIFICATIONS_TOKEN }} -d channel=C092UE0H4 \
            -d text="<https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID | $GITHUB_REPOSITORY @ $GITHUB_RUN_ID>" \
            https://slack.com/api/chat.postMessage
