name: Deploy vault in Hetzner

on:
  push:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      ca_pub_fingerprint:
        description: fingerprint of CA signed user cert
        required: false

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      CTX_HETZNER_API_TOKEN: ${{ secrets.CTX_HETZNER_API_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'
      - name: Deploy to Hetzner
        run: |
          git clone https://github.com/ackersonde/hetzner.git
          cd hetzner
          go mod tidy
          go build hetzner.go
          cd ../

          public_ip_address=$(curl -s https://checkip.amazonaws.com)
          echo "I CAN HAZ $public_ip_address ?!"
          ./hetzner/hetzner -fn=firewallSSH -tag=traefik -ip=$public_ip_address

          mkdir ~/.ssh/
          echo -n ${{ secrets.CTX_SERVER_DEPLOY_SECRET_B64 }} | base64 -d | tee -a ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa

          hz_vol_mount=/dev/disk/by-id/scsi-0HC_Volume_15704224
          mount_cmd="$(cat <<-EOF
            if ! mountpoint /mnt/hetzner_disk ; then
              mount -o discard,defaults $hz_vol_mount /mnt/hetzner_disk
              mkdir -p /mnt/hetzner_disk/vault_data/config
              chown -Rf systemd-network:1000 /mnt/hetzner_disk/vault_data
              echo $hz_vol_mount /mnt/hetzner_disk ext4 defaults,nofail,discard 0 0 | sudo tee -a /etc/fstab
            fi
          EOF
          )"
          init_cmd="$(cat <<-EOF
            sleep 3
            if [ ! -d "/mnt/hetzner_disk/vault_data/core" ] ; then
              docker exec -d vault /vault/config/init-vault.sh
            fi
          EOF
          )"

          ssh -o StrictHostKeyChecking=no root@vault.ackerson.de "$mount_cmd"
          scp local.json init-vault.sh root@vault.ackerson.de:/mnt/hetzner_disk/vault_data/config/
          ssh root@vault.ackerson.de "\
            docker rm -f vault || true && docker pull vault:latest && \
            docker run -d --cap-add=IPC_LOCK --restart=always \
              -v /mnt/hetzner_disk/vault_data:/vault \
              -e VAULT_API_ADDR=http://127.0.0.1:8200 \
              -e VAULT_ADDR=http://127.0.0.1:8200 \
              --label='traefik.enable=true' \
              --label='traefik.http.routers.vault.middlewares=http-ratelimit@file,secHeaders@file,api_auth' \
              --label='traefik.http.routers.vault.tls.certResolver=letsencrypt' \
              --label='traefik.http.routers.vault.tls.domains=vault.ackerson.de' \
              --label='traefik.http.routers.vault.rule=Host(\`vault.ackerson.de\`)' \
              --name vault vault:latest server && \
            $init_cmd"

          rm -Rf ~/.ssh ~/.docker/config.json
          ./hetzner/hetzner -fn=cleanupDeploy -tag=traefik

          curl -s -o /dev/null -X POST -d token=${{ secrets.CTX_SLACK_NOTIFICATIONS_TOKEN }} -d channel=C092UE0H4 \
            -d text="<https://github.com/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID | $GITHUB_REPOSITORY @ $GITHUB_RUN_ID>" \
            https://slack.com/api/chat.postMessage
